[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DataFusionGDM"]
	path = DataFusionGDM
	url = https://github.com/jiashuaiz/datafusion-gdm
